* {
    padding: 0;
    margin: 0;
}
:root {
    --primary: #f9ffd7;
    --primary-dark: #54301d; /* Skin Tone */
    --secondary: #E2232A;
    --background: #2f2f2f;
    /* --text: #1e293b;  */
    --Barlow : "Barlow Condensed", sans-serif;
    --Inter : 'Inter', system-ui, sans-serif; 
}
::selection {
    background-color: var(--secondary);
    color: var(--primary);
}
body::-webkit-scrollbar {
    display: none;
}
.page {
    height: 100vh;
    width: 100vw;
}
.main {
    background-color: #2f2f2f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
.main > div {
    margin: auto;
    width:  80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}
.main > div > h1 {
    font-size: clamp(2rem, 5rem, 7rem);
    font-family: var(--Barlow);
    color: #f9ffd7;
    width: 50%;
    margin: 0;
}
.main > div > p {
    margin-top: 1vh;
    color: var(--primary);
    font-size: clamp(1rem, 5vw, 1.5rem);
    width: 50%;
}   
.main-footer {
    height: 40%;
    display: flex;
    align-items: end;
    justify-content: left;
}
.main-footer > a > button {
    padding: 10px 20px;
    border-radius: 20px;
    border: 0px;
    font-size: 1rem;
    font-weight:bolder;
    background-color: var(--primary);
}
.main-footer > a > button:hover {
    background-color: black;
    color: white;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 300ms;
    transform: scale(1.1);
}

/* ================= Story ================= */
.story {
    background-color: var(--primary) ;
    display: flex;
    width: 100%;
}
.left-story {
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 250ms;
}
.left-story:hover{
    background-position: 90%;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 250ms;
}
.right-story {
    width: 60%;
    font-family: var(--Inter);
    display: flex;
    align-items: center;
}
.right-story h1 {
    font-size: 2rem;
    margin:  3vh 0 5vh 0;
}
.right-story p {
    font-size: 1.5rem;
    margin: 0 auto 1rem auto;
    width: 80%;
    text-align: justify;
}
.right-story .quote {
    font-size: 2.5rem;
    margin: 6rem auto 2.5rem auto;
    width: 80%;
    text-align: center;
    font-family: var(--Barlow);
}

/* ================= What can I do? ================= */
.ido {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--background);
    color: var(--primary);
}
.ido > div {
    height: 80%;
}
.ido > div:first-child {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ido > div:first-child > div:first-child > h1 {
    font-size: 4rem;
    font-family: var(--Inter);
}
.ido > div:first-child > div > p {
    font-size: 1.5rem;
    font-family: var(--Barlow);
}
.ido > div:last-child {
    width: 50%;
}
.ido > div:last-child > div {
    display: flex;
    align-items: center;
    margin: 0 0 5vh 0;
    font-family: var(--Barlow);
}
.ido > div:last-child > div > svg {
    width: 20%;
    margin-right: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary);
    fill: var(--primary);
    stroke: var(--primary);
}
.ido div:last-child h3 {
    font-size: 2rem;
}
.ido div:last-child p {
    font-size: 1.3rem;
}
.ido div:last-child a {
    color: var(--primary);
}
.gen_in_touch {
    color: var(--primary);
}
.gen_in_touch:hover {
    text-shadow: 2px 2px 5px var(--secondary);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 200ms;
    font-size: 2.5rem !important; 
}
.tech > h1 {
    font-family:var(--Inter);
}
.tech > div {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-around;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
.tech > div > img {
    width: calc((100% - 30px) / 6);
    height: auto;
    padding: 10px;
    object-fit: contain;
}
/* Projects */
.projects {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects > div {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.projects > div > div:first-child {
    height: 30%;
}
.projects > div > div:first-child > h1 {
    font-size: 6rem;
    font-family: var(--Barlow);
    color: var(--primary);
    margin-bottom: 5vh;
}
.projects > div > div:first-child > p {
    color: var(--primary);
    font-size: 1.5rem;
    font-family: var(--Inter);
}
.proj_card_contianer {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    margin-bottom: 5vh;
    margin-top: 5vh;
}
.proj_cards {
    color: var(--primary);
    width: 25%;
}
.proj_cards img {
    width: 80%;
    margin: 0 10%;
    aspect-ratio: calc(1*1);
    object-fit: cover;
}
.proj_cards  h1 {
    font-family: var(--Inter);
} 
.proj_cards  p {
    font-family: var(--Barlow);
    margin: 10px 0;
}
.proj_cards button {
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary);
    cursor: pointer;
}
/* Contact */
.contact {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: var(--primary);
    font-family: var(--Inter);
}
.contact-container {
    height: 90%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
}
.contact-container > div {
    padding: 5vh 5vh;
}
.contact-container > div:first-child {
    width: 50%;
}
.contact-container > div:first-child > h1 {
    font-size: 6rem;
    font-family: var(--Barlow);
}
.contact-container > div:first-child > p {
    font-size: 1.5rem;
    font-family: var(--Inter);
}
.contact-container > div:last-child {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-form {
    background-color: var(--primary-dark);
    width: 80%;
    height: 90%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.contact-form form {
    width: 90%;
    height: 90%;
}
.contact-form form div {
    margin-bottom: 25px;
}
.contact-form form label {
    font-size: 1.5rem;
}
.contact-form form input, textarea {
    width: 100%;
    background-color: var(--primary);
    border-radius: 10px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1rem;
    margin: 10px 0;
}
.contact-form form button {
    background-color: var(--secondary);
    color: var(--primary);
    font-size: 1.5rem;
    padding: 10px 35%;
    border-radius: 20px;
    border: none;
}
.fyi {
    font-size: 12px;
    margin-top: 10px;
}
.fyi > a {
    color: var(--primary);
}
footer {
    height: 10%;
    background-color: var(--primary-dark);
}
footer .socials {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .socials a {
    text-decoration: none;
    color: var(--primary);
}