* {
    padding: 0;
    margin: 0;
}
:root {
    --primary: #f9ffd7;
    /* --primary-dark: #2563eb;
    --secondary: #64748b;
    --background: #f8fafc;
    --text: #1e293b; */
}
.page {
    height: 100vh;
    width: 100vw;
}
.main {
    background-color: #2f2f2f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main > div {
    margin: auto;
    width:  80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;
}
.main > div > h1 {
    font-size: clamp(2rem, 50vw, 7rem);
    font-family: "Barlow Condensed", sans-serif;
    color: #f9ffd7;
    width: 50%;
    margin: 0;
}
.main > div > p {
    margin-top: 1vh;
    color: var(--primary);
    font-size: clamp(1rem, 5vw, 1.5rem);
    width: 50%;
}   
.main-footer {
    height: 40%;
    display: flex;
    align-items: end;
    justify-content: left;
}
.main-footer > a > button {
    padding: 20px 40px;
    border-radius: 20px;
    border: 0px;
    font-size: 1.5rem;
    font-weight:bolder;
    background-color: var(--primary);
}
.main-footer > a > button:hover {
    background-color: black;
    color: white;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 300ms;
    transform: scale(1.1);
}

/* ================= Story ================= */
.story {
    background-color: var(--primary) ;
    display: flex;
}
.left-story {
    width: 40%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 250ms;
}
.left-story:hover{
    background-position: 90%;
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 250ms;
}
.right-story {
    width: 60%;
    font-family: 'Inter', system-ui, sans-serif;;
    display: flex;
    align-items: center;
}
.right-story > div > center > h1 {
    font-size: 4rem;
    margin:  3vh 0 5vh 0;
}
.right-story > div > p {
    font-size: 2rem;
    margin: 0 auto 2.5rem auto;
    width: 80%;
    text-align: justify;
}
.right-story > div > .quote {
    font-size: 3.5rem;
    margin: 6rem auto 2.5rem auto;
    width: 80%;
    text-align: center;
}