<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>John Patrick Juni</title>
</head>
<body>
    <div class="main page" 
        style="background-image: url({{ url_for('static', path='images/me.png') }}); ">
        <div>
            <h1>Hi,<br>
                I'm John Juni.
            </h1>
            <p>
                Building practical software with Python, Linux, and a passion for continuous learning.
            </p>
            <div class="main-footer">
                <a href="#">
                    <button>
                        Explore My Works
                    </button>
                </a>
            </div>
        </div>
    </div>
    <div class="story page">

    </div>
    <!-- <div class="ido page">

    </div>
    <div class="projects page">

    </div> -->

</body>
</html>